<h1>Favorites List</h1>

{{#if user.products}}
    {{#each user.products}}
    <div class="left">
            <a href="/item/{{id}}">
            <article class="fav-container">
                <img src="/images/{{image}}" class="fav-img" alt="">
            <div class="fav-text-container">
                <h1 class="cardText">{{product_name}}</h1>
                <form id="delete-favorites">
                <button id="delete-button" data-id="{{id}}" type="submit">Delete from favorites</button>
                </form>
            </div>
            </article>
            </a>
    </div>
    {{/each}}
{{else}}
<h2>No favorites added.</h2>
{{/if}}


<script src="/js/favorites.js"></script>