{{!-- Product Name --}}
<article class="product-container first-after-nav">
  <img id="single-product-img" src="/images/{{product.image}}" alt="{{product.product_name}}">
  <article class="product-name-container">
    <h1 class="first-after-nav">{{product.product_name}}</h1>
    <p>{{product.description}}</p>
    {{#if logged_in}}
    <form id="update-favorites">
      <button type="submit">Add to favorites</button>
    </form>
    {{/if}}
  </article>
</article>

{{!-- Displaying reviews --}}
{{#if product.reviews}}
    {{#each product.reviews}}
    <article>
        <ul>
            <li class="no-bullet">
                <input data-role="rating"
                data-value="{{rating}}"
                data-static="true"><br>
                {{review_description}}<br>
                Posted by: {{user.first_name}}
            </li>
        </ul>
    </article>
    {{/each}}
{{/if}}


{{!-- Form to post new review --}}
{{#if logged_in}}
<div class="review">
  <div class="card-header">
    <h2>Review This Product</h2>
  </div>
  <form id="new-review-form" class="card-body">
    <label class="rating-label" for="star-rating"></label>
    <input name="star-rating"
        data-role="rating"
        data-stars="5">
    <label class="form-label" for="review-body"></label>
    <textarea name="review-body" class="form-input" placeholder="Leave your review here."></textarea>

    <button type="submit" class="btn">Post Review</button>
  </form>
</div>
{{else}}
<article>Log in to leave a review!</article>
{{/if}}

<script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
<script src="/js/newReview.js"></script>
<script src="/js/favorites.js"></script>